* {
   box-sizing: border-box;
}

body {
   background: #000000;
   height: 100vh;
}

.container {
   margin-top: 30px;
}

.half-width {
   height: 570px;
   background: rgb(0, 145, 255);
   padding: 30px;
   text-align: center;
   color: #fff;
}

input[type="text"] {
   width: 80%;
   height: 50px;
   background-color: #3d4153;
   padding: 10px 0;
   margin: 0 auto;
   border: 2px solid #858299;
   border-radius: 30px;
   padding: 10px;
   color: #ffffff;
   text-align: center;
}

input[type="text"]:focus {
   background-color: #3d4153;
   color: white;
   font-size: 20px;
}

.numbers {
   margin: 30px 0;
}

.calc-typed {
   margin-top: 20px;
   font-size: 45px;
   text-align: right;
   color: #fff;
}

.calc-button-row {
   width: 100%;
}

.button {
   width: 20%;
   color: #fff;
   padding: 20px;
   margin: 5px;
   display: inline-block;
   font-size: 25px;
   text-align: center;
   vertical-align: middle;
   margin-right: -4px;
   border: 2px solid #fff;
   border-radius: 50%;
   cursor: pointer;
}
